@import './vars';

input,
textarea,
select {
    display: block;
    width: 100%;
    font-family: $main-ff;
    font-size: 14px;
    outline: none;
    border: 1px solid rgba($white-color, .5);
    background-color: rgba($white-color, .05);
    color: $white-color;
    border-radius: 8px;
    height: 48px;
    padding: 0 13px;
    transition: $trs;

    &::placeholder {
        color: rgba($white-color, .6);
    }

    &:focus {
        border-color: $white-color;
    }
}

textarea {
    height: 122px;
    resize: none;
    padding: 8px 13px;
}

.checkbox {
    font-size: 12px;
    display: inline-block;

    input {
        position: absolute;
        left: -9999px;
        opacity: 0;

        &:checked + span {

            &::before {
                background-color: $white-color;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='-0.000305176' width='16' height='16' rx='2' fill='white'/%3E%3Cpath d='M3.99976 8.23077L6.99976 11L11.9998 5' stroke='%23961914' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-size: 10px 8px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }
    }

    span {
        display: inline-block;
        padding-left: 24px;
        position: relative;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';
            border: 1px solid $white-color;
            border-radius: 2px;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            transition: $trs;
        }
    }
}